[submodule "contract"]
	path = contract
	url = git@github.com:7flash/galaxy-polkadot-contract.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:7flash/galaxy-desktop-app.git
[submodule "excalidraw"]
	path = excalidraw
	url = git@github.com:7flash/galaxydraw.git
[submodule "dist"]
	path = dist
	url = git@github.com:7flash/galaxy-dist.git
